---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Junior",
    company: "SCISA",
    description:
      "Desarrollo de una aplicación web desde cero utilizando Vue 3 y .NET Core. Integración con Azure DevOps y aplicación de TDD para garantizar la calidad del software. Mejora continua de la aplicación mediante despliegues automatizados.",
  },
  {
    date: "2021-2022",
    title: "Desarrollador como Data analyst",
    company: "CIIDIT",
    description:
      "Desarrollo de interfaces para aplicaciones de laboratorio y análisis de datos científicos con Python y Matlab. Colaboración en proyectos de investigación sobre super capacitores, generando aplicaciones y visualización de datos.",
      link: "https://rlucioporto.com/",
    },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
